---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";

@import "typography";
@import "ui";
@import "footer";
@import "homepage";
@import "sponsors";

#northrop {
  width: 450px;
}

#credible {
  position: relative;
}

#namecheap {
position: absolute;
}
