body {
background-color: #A58D7C;   
color: #7F6C5F;
text-align: center;
font-size: 18px, regular;
font-family: 'Aleo', Arial, sans-serif;

}

a {
color: #FF6F3F;
}

.sky {
background-color: #CBF2FF;
    padding-top: 100px;
}

.footer {
    background-color: #7F6C5F; 
    color:white;
    padding: 20px 0;
}

.mountainleft {
    background-image: url(img/mountain-left.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 15em;
}

.mountainright {
    background-image: url(img/mountain-right.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 15em;

}