body {
  background-color: #A58D7C;
  color: #7F6C5F;
  text-align: center;
  font-size: 18px, regular;
  font-family: 'Avenir', Arial, sans-serif;
}

a:link, a:visited {
  color: #FFAF3F;
}

a:hover {
  color: #CBF2FF;
}

h5 {
  font-family: 'Avenir', Arial, sans-serif;
}

.button {
  float: right;
}

.email {
  width: 100%;
}

.email, .button {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sky {
  background-color: #CBF2FF;
  padding-top: 100px;
}

input {
  border: 0px;
}

.footer {
  background-color: #7F6C5F;
  color: white;
  padding: 20px 0;
}

.mountainleft {
  background-image: url(img/mountain-left.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 15em;
}

.mountainright {
  background-image: url(img/mountain-right.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 15em;
}
