*, *::before, *::after { box-sizing: border-box; }

html, body { margin: 0; padding: 0; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

h1, h2, h3, h4, h5, h6, p, ol, ul, li { margin: 0; padding: 0; }

a { background-color: transparent; text-decoration: none; }
a:active, a:hover { outline: none; }

em { font-style: italic; }

strong { font-weight: bold; }

img { border: 0; }

ol, ul { list-style: none; }

svg:not(:root) { overflow: hidden; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

button, input, optgroup, select, textarea { margin: 0; color: inherit; font: inherit; }

button { overflow: visible; }

button, select { text-transform: none; }

input { line-height: normal; }

textarea { overflow: auto; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0 10px; }

menu { padding: 0; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

@font-face { font-family: "Aleo"; font-style: normal; font-weight: 400; src: url("/../../fonts/Aleo/Aleo-Regular.eot?#iefix") format("embedded-opentype"), url("/../../fonts/Aleo/Aleo-Regular.woff2") format("woff2"), url("/../../fonts/Aleo/Aleo-Regular.woff") format("woff"), url("/../../fonts/Aleo/Aleo-Regular.ttf") format("truetype"), url("/../../fonts/Aleo/Aleo-Regular.svg#Aleo") format("svg"); }
@font-face { font-family: "Aleo"; font-style: normal; font-weight: 700; src: url("/../../fonts/Aleo/Aleo-Bold.eot?#iefix") format("embedded-opentype"), url("/../../fonts/Aleo/Aleo-Bold.woff2") format("woff2"), url("/../../fonts/Aleo/Aleo-Bold.woff") format("woff"), url("/../../fonts/Aleo/Aleo-Bold.ttf") format("truetype"), url("/../../fonts/Aleo/Aleo-Bold.svg#Aleo") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 400; src: url("/../../fonts/Avenir/Avenir-Regular.eot?#iefix") format("embedded-opentype"), url("/../../fonts/Avenir/Avenir-Regular.woff2") format("woff2"), url("/../../fonts/Avenir/Avenir-Regular.woff") format("woff"), url("/../../fonts/Avenir/Avenir-Regular.ttf") format("truetype"), url("/../../fonts/Avenir/Avenir-Regular.svg#Avenir") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 700; src: url("/../../fonts/Avenir/Avenir-Bold.eot?#iefix") format("embedded-opentype"), url("/../../fonts/Avenir/Avenir-Bold.woff2") format("woff2"), url("/../../fonts/Avenir/Avenir-Bold.woff") format("woff"), url("/../../fonts/Avenir/Avenir-Bold.ttf") format("truetype"), url("/../../fonts/Avenir/Avenir-Bold.svg#Avenir") format("svg"); }
body { font-family: "Avenir", Georgia, Serif; font-weight: 400; font-size: 16px; }
@media screen and (min-width: 720px) { body { font-size: 18px; } }
@media screen and (min-width: 60em) { body { font-size: 21px; } }
@media screen and (min-width: 76.5em) { body { font-size: 24px; } }

th { font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif; }

@media screen and (max-width: 719px) { table { font-size: 9px; } }

h1 { line-height: 1.25; font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif; font-size: 4em; color: #1a2e33; text-transform: uppercase; }

h2 { font-size: 1em; font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif; color: #1a2e33; text-transform: uppercase; }

h3 { font-size: 1.25em; font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif; color: #1a2e33; }

a{ color: #528CA5; }
a:visited, a:active, a:hover, a:link,span { color: #FF7040; }

.button, .link { display: block; clear: both; height: 3.5em; width: 13.125em; margin: 2em auto 0; padding-top: 1.3125em; background: url("/img/button.svg") center center no-repeat; font-size: 1em; font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif; font-weight: bold; text-align: center; text-transform: uppercase; text-decoration: none !important; color: #FFF !important; }
.button::after, .link::after { clear: both; content: ""; display: table; }
.button:hover, .link:hover { color: rgba(255, 255, 255, 0.9) !important; }

.link { background: url("/img/link.svg") center center no-repeat; height: 3.25em; width: 13.125em; margin: 1em auto 0; }

.ratio { display: inline-block; position: relative; overflow: hidden; }
.ratio:after { content: ''; display: block; }

.ratio > * { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; }

.square:after { margin-top: 100%; }

footer { font-family: 'Avenir'; width: 100%; font-size: 18px; clear: both; text-align: center; padding-bottom: 0.25em; padding-bottom: 30px; }
footer p { color: #7F6C5F; font-size: 80%; }
footer .social-item { margin: 0 1.25em; }

.social-links { margin-top: 2em; }

.social-item { display: inline-block; margin: 0 1.25em; }
.social-item img { height: 2em; width: 2em; }

.social-item-link { float: left; }
.social-item-link img { width: 2em; }

.copy { margin-bottom: 2em; }

html, body { max-width: 100%; overflow-x: hidden; background-color: #CBF2FF; font-family: 'avenir'; text-align: center; }
.MediaCard-mediaContainer {padding-bottom: 0.0%; }
.sky { background-color: #CBF2FF; color: #FF6F3F; height: 600px; }

.date-text { margin-bottom: 15px; font-family: 'avenir'; z-index: 1; position: relative; }

#logo-text { margin-bottom: 12px; z-index: 1; position: relative; }

#logo-img { z-index: 1; }

#colorwar-logo { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 150px; max-width: 80%; z-index: 50; }

#cloud-left, #cloud-right { position: absolute; }

#cloud-left { top: 100px; }

#cloud-right { top: 200px; }

#tent { position: absolute; height: 50px; top: 553px; display: none; }

#mountain, #mountain-2 { position: absolute; }

#compass { height: 46px; padding: 0; margin: 0; }

#cw-flag { padding-top: 60px; height: 150px; }

#cw-prizes { padding: 70px 0; height: auto; width: 70%; max-width: 400px; }

.cw-judges { padding: 75px 0; }

.cw-asset { margin-top: 1px; }

.cw-button { position: relative; top: 50px; }

.cw-judge { background-size: auto 100%; background-repeat: no-repeat; background-position: center; }

.absolute-position-centered { margin: 3px auto; left: 0; right: 0; }

#mc_embed_signup { z-index: 10000; font-family: 'avenir'; font-size: 16px; line-height: 16px; margin-top: 5px; }
#mc_embed_signup .text-field { border: none; background-color: #FFFFFF; padding-right: 0; padding-left: 0; font-weight: 300; text-transform: none; font-family: 'aleo'; margin-right: 8px; cursor: text; position: relative; top: 3px; margin-top: 1px; color: #000000; }
#mc_embed_signup .mailchimp-form-container { display: inline-block; }

.table-title { text-align: center; padding-top: 50px; }

.schedule-table { text-align: left; }

.schedule-table-day { border-collapse: separate; border-spacing: 0 10px; }

.schedule-event { border-top: 1px solid #7F6C5F; }

.subtext { position: relative; z-index: 1; font-family: 'aleo'; }

.section-title { text-transform: uppercase; font-family: 'avenir'; font-weight: 600; font-size: 120%; padding-top: 70px; color: #1A2E33; }

.section-subtitle { padding-top: 15px; padding-bottom: 25px; text-transform: none; font-size: 75%; }

.orange-button { border: none; color: #FFFFFF; font-weight: 600; text-transform: uppercase; font-family: 'avenir'; -webkit-appearance: none; -webkit-border-radius: 0px; background: url("/assets/img/button.svg") center center no-repeat; height: 60px; width: 100%; margin-top: 15px; }

.orange-button:hover { cursor: pointer; background: url("/assets/img/button-active.svg") center center no-repeat; }

.section-content { margin-bottom: 10px; color: #444444; color: #7F6C5F; line-height: 115%; }

.padded-content { padding: 20px 15%; }

.full-width-image { padding: 40px 0; width: 100%; }

.contact-text { font-weight: 700; color: #666; padding: 100px 0; }

.speaker-info { padding-top: 60px; font-size: 90%; }

.speaker-name { margin-top: 10px; font-weight: 700; }

.colorwar-text { padding: 0 20px; }

#navbar { background-color: #A58D7C; color: #FFF; overflow: visible; }

.navbar .navbar-nav { display: inline-block; float: none; vertical-align: top; }

.navbar .navbar-collapse { text-align: center; }

.nav { font-family: 'avenir'; }
.nav a:visited, .nav a:active, .nav a:hover, .nav a:link { text-decoration: none; }

@media screen and (max-width: 719px) { .orange-button { height: 45px; line-height: 45px; }
  #mountain { height: 90px; top: 510px; right: 15px; }
  #mlh-trust-badge { right: auto; left: 30px; }
  #mountain-2 { height: 90px; top: 510px; left: 15px; }
  #cloud-left { height: 75px; left: 35px; }
  #cloud-right { height: 75px; right: 35px; }
  #logo-text { height: 70px; }
  #logo-img { height: 40px; position: relative; top: 15px; margin: 0 8px; }
  .date-text { font-size: 16px; }
  .sky { padding-top: 200px; } }
@media screen and (min-width: 720px) { .orange-button { height: 50px; line-height: 50px; }
  #mountain { height: 170px; top: 430px; right: 80px; }
  #mountain-2 { height: 170px; top: 430px; left: 80px; }
  #mlh-trust-badge { right: auto; left: 30px; }
  #cloud-left { height: 100px; left: 85px; }
  #cloud-right { height: 100px; right: 85px; }
  #logo-text { height: 75px; }
  #logo-img { height: 50px; position: relative; top: 15px; margin: 0 8px; }
  .date-text { font-size: 16px; }
  .sky { padding-top: 180px; } }
@media screen and (min-width: 60em) { .orange-button { height: 60px; line-height: 60px; }
  #mlh-trust-badge { left: 100px; }
  #mountain { position: absolute; height: 240px; top: 360px; right: 80px; }
  #mountain-2 { position: absolute; height: 240px; top: 360px; left: 80px; }
  #cloud-left { height: 110px; left: 100px; }
  #cloud-right { height: 110px; right: 100px; }
  #logo-text { height: 75px; }
  #logo-img { height: 60px; position: relative; top: 15px; margin: 0 8px; }
  .date-text { font-size: 16px; }
  .sky { padding-top: 150px; } }
@media screen and (min-width: 76.5em) { .orange-button { height: 68px; line-height: 68px; }
  #tent { display: block; }
  #mlh-trust-badge { left: 90px; }
  #cloud-left { height: 130px; left: 125px; }
  #cloud-right { height: 130px; right: 125px; }
  #logo-text { height: 85px; }
  #logo-img { height: 60px; position: relative; top: 15px; margin: 0 8px; }
  .date-text { font-size: 16px; }
  .sky { padding-top: 125px; } }
.col-xlarge, .col-large, .col-med, .col-med-small, .col-small, .col-tiny { height: 100px; margin-bottom: 1em; padding: .625em; display: inline-block; vertical-align: top; }

.col-xlarge { width: 49%; height: 200px; }

@media screen and (max-width: 719px) { .col-xlarge { width: 100%; } }
.col-large { width: 32%; height: 150px; }

@media screen and (max-width: 719px) { .col-large { width: 49%; } }
.col-med { width: 24%; }

@media screen and (max-width: 719px) { .col-med { width: 32%; } }
.col-med-small { width: 19%; }

@media screen and (max-width: 719px) { .col-med-small { width: 24%; } }
.col-small { width: 16%; }

@media screen and (max-width: 719px) { .col-small { width: 19%; } }
.col-tiny { width: 13%; }

@media screen and (max-width: 719px) { .col-tiny { width: 16%; } }
.row-sponsors::after { clear: both; content: ""; display: table; }

@media screen and (max-width: 719px) and (max-width: 719px) { .row-sponsors { max-width: 100%; } }
.row-sponsors > li img { width: 100%; display: inline-block; vertical-align: middle; }

.row-sponsors { padding: 30px 0; }

.col-xlarge, .col-large, .col-med, .col-small, .col-tiny:before { content: ' '; display: inline-block; vertical-align: middle; height: 100%; }

#AOL { width: 70%; }

#Dingman { width: 65%; }

#HDR { width: 70%; position: relative; top: 70%; }

#InsomniaCookies { width: 60%; position: relative; top: 70%; }

#Intel { width: 70%; }

#LTS { width: 50%; }

#MathWorks { width: 70%; }

#MAX { width: 90%; }

#SGA { width: 75%; }

#TerrapinHackers { width: 70%; }
