body {
  color: #5f5f5f;
}

@media (min-width: 768px) {
  #live-page {
    padding-top: 20px;
  }

  .bitcamp-nav ul.nav-links > li > a {
    padding: 20px 15px;
  }
}
#navbar {
  min-height: 65px;
}

.nav-slider {
  display: none;
}

.nav-brand:after {
  content: 'live.bitca.mp';
  display: block;
  position: relative;
  bottom: 0px;
  font-size: 16px;
  text-align: center;
}

.bitcamp-nav ul.nav-links {
  flex-direction: row-reverse;
  justify-content: initial;
}

.bitcamp-nav.fixed ul.nav-links > li > a {
  font-size: 14px;
  margin-top: 0px;
  text-align: center;
}

#navbar {
  position: relative;
}

@media (min-width: 1600px) {
  .col-xl-1 {
    width: 8.33333%;
  }

  .col-xl-2 {
    width: 16.66667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333%;
  }

  .col-xl-5 {
    width: 41.66667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333%;
  }

  .col-xl-8 {
    width: 66.66667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333%;
  }

  .col-xl-11 {
    width: 91.66667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  #announcements-wrapper {
    max-height: none;
  }

  .container {
    width: 1600px;
  }
}
#twitter {
  text-align: center;
}

#twitter-title::before {
  display: block;
  content: 'Announcements';
  background-color: #ff7040;
  color: white;
  text-align: center;
  height: 42px;
  padding: 10px 20px;
  font-size: 1.5pc;
  font-weight: 700;
  box-sizing: border-box;
}

#schedule, #bitcamp-twitter {
  transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
}
#schedule tr, #bitcamp-twitter tr {
  transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transition: ease all 500ms;
  -webkit-transition: ease all 500ms;
}
#schedule tr td, #bitcamp-twitter tr td {
  transition: ease padding 300ms;
  -webkit-transition: ease padding 300ms;
}
#schedule tr td div, #bitcamp-twitter tr td div {
  overflow: hidden;
  max-height: 1000px;
  transition: ease max-height 300ms;
  -webkit-transition: ease max-height 300ms;
}
#schedule tr td div a, #bitcamp-twitter tr td div a {
  word-break: break-word;
}

#schedule tr.ongoing {
  background-color: #ff7040;
  color: white;
}
#schedule tr.ongoing:nth-child(odd) {
  background-color: #ff7040
}
#schedule tr.expiring td {
  padding-top: 0px
  padding-bottom: 0px;
}
#schedule tr.expiring td div {
  overflow: hidden;
  max-height: 0px;
}
#schedule tr.expired {
  display: none;
}

/*
#announcements, #pennapps-twitter {
  th {
    text-align: center;
  }
  border: none;
  transform: scale(1,-1);
  -webkit-transform: scale(1,-1);
  tr {
    transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
  }

  tr {
    background-color: $secondary-color;
    color: white;
    transition: ease all 500ms;
    -webkit-transition: ease all 500ms;
    td {
      padding-top: 0px;
      padding-bottom: 0px;
      transition: ease padding 300ms;
      -webkit-transition: ease padding 300ms;
      div {
        overflow: hidden;
        max-height: 0px;
        transition: ease max-height 300ms;
        -webkit-transition: ease max-height 300ms;
        a {
          word-break: break-word;
        }
      }
      .content {
        img {
          height: 1em;
        }
      }
      .username {
        color: #ccc;
      }
      .fullname, .avatar {
        margin-right: 5px;
      }
      .fullname {
        a {
          color: $primary-color;
        }
      }
      .avatar {
        img {
          height: 35px;
        }
      }
    }
    &.in {
      color: $medium-grey;
      background-color: #f8f8f8;
      &:nth-child(odd) {
        background-color: white;
      }
      td {
        padding-top: 10px;
        padding-bottom: 10px;
        div {
          max-height: 200px;
        }
      }
    }
  }
  .time {
    text-align: right;
    color: #aaa;
    font-size: 13px;
    margin-top: 5px;
  }
}
*/
#bitcamp-twitter tr td .content {
  line-height: 1.4em;
  margin-top: 5px;
}
#bitcamp-twitter tr td .content img {
  height: 1em;
}
#bitcamp-twitter tr td .username {
  color: #ccc;
}
#bitcamp-twitter tr td .fullname, #bitcamp-twitter tr td .avatar {
  margin-right: 5px;
}
#bitcamp-twitter tr td .fullname a {
  color: #062946;
}
#bitcamp-twitter tr td .avatar img {
  height: 35px;
  vertical-align: middle;
}
#bitcamp-twitter tr td .time {
  text-align: right;
  color: #aaa;
  font-size: 13px;
  margin-top: 5px;
}

#schedule-head th {
  text-align: left;
}

#announcements-wrapper, #schedule-wrapper {
  overflow: auto;
  overflow-x: hidden;
  border: none;
}

/*.timeCol {
  max-width: 120px;
  color: #888;
}*/
/*table td, table th {
    padding: 10px 20px;
	font-size: 1pc;
	min-width: 75pt;
}*/
#map-page img {
  width: 100%;
  padding: 50px;
}

/*# sourceMappingURL=live-styles-1.0.6.css.map */
