---
layout: default
---
<div class="sky" id="sky">
  <img src="{{ 'assets/img/bitcamp-logo-text-orange.svg' | prepend: site.baseurl }}" id="logo-text">
  <div class="subtext" style="margin-top: 32px;">
    <div>
      A 36-hour hackathon at the University of Maryland
    </div>
    <div class="date-container">
      April 8-10, 2016
    </div>
    <!--a href="{{ site.typeform_url }}">
      <button class="register-button">
        {% if site.registration_status == "open" %}
          Register
        {% else %}
          Join the Waitlist
        {% endif %}
      </button>
    </a-->
  </div>
</div>
<div id="img-container">
  <img src="{{ 'assets/img/mountains-left.svg' | prepend: site.baseurl }}"
   class="svg-image mountain" id="mountain-1">
   <img src="{{ 'assets/img/mountains-right.svg' | prepend: site.baseurl }}"
   class="svg-image mountain" id="mountain">
  <img src="{{ 'assets/img/tents.svg' | prepend: site.baseurl }}"
   class="svg-image tent">
</div>
<div class="dialog-container">
  {% for section in site.data.content-blocks %}
    <div class="dialog-section-container">
      {% for subsection in section.subsections %}
        {% capture selectorName %}{{section.name | replace:' ','-' }}-{{subsection.name | replace:' ','-' }}{% endcapture %}
        <div class="dialog-section" id="{{selectorName}}">
          <div class="selection-text selected content-title 
            {% if section.subsections.size > 1 %}
              desktop-assets
            {% endif %}">
            {{ subsection.name }}
          </div>
          <div class="section-content">
            {% capture file_name %}{{site.content_home_dir}}/{{section.name}}/{{subsection.name}}.html{% endcapture %}
            {% capture directory_path %}{{ file_name | downcase | replace:' ','-'  }}{% endcapture %}
            {% include {{directory_path}} %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

