---
layout: default
---
<div class="sky vh_height44" id="sky">
  <img src="{{ 'assets/img/bitcamp-logo-text-orange.svg' | prepend: site.baseurl }}" class="vh_height10" id="logo-text">
  <div class="subtext">
    <div class="vw_width52" style="margin-left:24%;">
      A 36-hour hackathon at the University of Maryland
    </div>
    <div class="date-container">
      April 8-10, 2016
    </div>
    <a href="{{ site.typeform_url }}">
      <button class="register-button">Register</button>
    </a>
  </div>
</div>

<div id="img-container">
  <div class="pole vh_height69 vh_top12"></div>
  <div class="sponsorship_inquiries vh_top82 vw_left7 desktop-assets">
    For sponsorship inquries, contact 
    <a href="mailto:hello@bitca.mp">
      hello@bitca.mp
    </a>
  </div>
  <img src="{{ 'assets/img/mountains-left.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height26 vh_top19 vw_left6 mountain" id="mountain-1">
   <img src="{{ 'assets/img/mountains-right.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height26 vh_top19 vw_right1 mountain" id="mountain">
  <img src="{{ 'assets/img/lake.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height11 vh_top47 vw_right7 desktop-assets">
  <img src="{{ 'assets/img/bus.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height14 vh_top67 vw_left87 desktop-assets">
  <img src="{{ 'assets/img/bulletin_board.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height11 vh_top71 vw_left69 desktop-assets">
  <img src="{{ 'assets/img/tents.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height8 vh_top59 vw_left36 desktop-assets">
  <img src="{{ 'assets/img/fire.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height11 vh_top64 vw_left46 desktop-assets">
  <img src="{{ 'assets/img/cabin.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height5 vh_top51 vw_left23 desktop-assets">
  <img src="{{ 'assets/img/lines.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height56 vw_width100 vh_top38 desktop-assets"
   id="lines">
</div>
<div class="dialog-container">
  <a href="#">
    <div onclick="setActiveDialog('Home');">
      <img src="assets/img/sign-right.svg"
        class="sign-img sign-right vh_top14">
      <div class="sign vh_top15" id="Home-menu" style="color:#FFFFFF">
        Home
      </div>
    </div>
  </a>

  {% assign index = 0 %}
  {% for section in site.data.content-blocks %}
    {% capture orientation %}{% cycle 'left', 'right' %}{% endcapture %}
    {% capture height %}
      {% cycle 'vh_top21', 'vh_top28', 'vh_top35', 'vh_top42',
      'vh_top49', 'vh_top56', 'vh_top63' %}
    {% endcapture %}
    {% capture textHeight %}
      {% cycle 'vh_top22', 'vh_top29', 'vh_top36', 'vh_top43',
      'vh_top50', 'vh_top57', 'vh_top64' %}
    {% endcapture %}
    <a href="#">
      <div onclick="setActiveDialog('{{section.name | replace:' ','-' }}');">
        <img src="assets/img/sign-{{orientation}}.svg"
          class="sign-img 
            {% if orientation == 'right' %}
              sign-right
            {% else %}
              sign-left
            {% endif %}
          {{height}}">
        <div class="sign {{textHeight}}"
          id="{{section.name| replace:' ','-' }}-menu">
          {{section.name}}
        </div>
      </div>
    </a>
    <div class="dialog vh_height60 vw_width60 vh_top21 container-fluid"
      id="{{ section.name }}">
      <script>
        $(document).ready(function(){
          {{section.name | replace:' ','-' }}selected = '{{section.name}}-{{section.subsections[0].name}}';
          expandSelect({{section.name | replace:' ','-' }}selected);
        });
      </script>
      <a href="#">
        <div class="exit" onclick="setActiveDialog('Home');">x</div>
      </a>
        <div class="col-md-4">
          {% for subsection in section.subsections %}
            {% capture selectorName %}{{section.name | replace:' ','-' }}-{{subsection.name | replace:' ','-' }}{% endcapture %}
            <a href="#">
              <div class="selection-text unselected"
                id="{{selectorName}}-selector">
                {{ subsection.name }}
              </div>
            </a>
            <script>
                $('#{{selectorName}}-selector').click(
                  function() {
                    changeText({{section.name}}selected, '{{selectorName}}');
                    {{section.name}}selected = '{{selectorName}}';
                  }
                );
            </script>
          {% endfor %}
        </div>
      <div class="dialog-section-container col-md-8">
        {% for subsection in section.subsections %}
          {% capture selectorName %}{{section.name | replace:' ','-' }}-{{subsection.name | replace:' ','-' }}{% endcapture %}
          <div class="dialog-section" id="{{selectorName}}">
            <div class="selection-text selected content-title 
              {% if section.subsections.size > 1 %}
                desktop-assets
              {% endif %}">
              {{ subsection.name }}
            </div>
            <div class="section-content">
              {{ subsection.value }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% assign index = index + 1 %}
  {% endfor %}
</div>
<div class="lines-tiled show-only-mobile"></div>
