---
layout: default
---
<style>
  #sky {
    padding: 0;
    position: relative;
  }
  body{color: #1A2E33; font-family: 'aleo'; line-height: 115%;}
  a:visited, a:active, a:hover, a:link {color: #1A2E33; text-decoration: underline;}
  {% for judge in site.data.colorwar.judges %}
    #{{judge.css_id}} {
      background-image: url('{{site.colorwar_judge_photo_dir}}pixel_{{judge.image}}');
    }
    #{{judge.css_id}}:hover {
      background-image: url('{{site.colorwar_judge_photo_dir}}{{judge.image}}');
    }
    @media screen and (max-width: 820px) {
      #{{judge.css_id}} {
        background-image: url('{{site.colorwar_judge_photo_dir}}{{judge.image}}');
      }
    }
  {% endfor %}
</style>
<div class="sky" id="sky">
  <span><img src="{{ '/assets/img/colorwar-logo.svg' }}" id="colorwar-logo"></span>
</div>
<div id="img-container">
  <img src="{{ '/assets/img/cloud.svg' | prepend: site.baseurl }}" id="cloud-left">
  <img src="{{ '/assets/img/cloud.svg' | prepend: site.baseurl }}" id="cloud-right">
  <img src="{{ '/assets/img/colorwar/castle-right.svg' | prepend: site.baseurl }}" id="mountain" class="cw-asset">
  <img src="{{ '/assets/img/colorwar/castle-left.svg' | prepend: site.baseurl }}" id="mountain-2" class="cw-asset">
  <img src="{{ '/assets/img/colorwar/board.svg' | prepend: site.baseurl }}" id="tent" class="absolute-position-centered">
</div>
<div class="section-title">
  Calling all creatives
</div>
<div class="padded-content"><div class="padded-content">
  {{site.data.colorwar.description}}
</div></div>
<div class="section-title">
  How it works
</div>
<div class="container">
  {% for step in site.data.colorwar.signup_steps %}
    <div class="col-md-4">
      <div class="colorwar-text">
        <img src="/assets/img/colorwar/flag{{forloop.index}}.svg" id="cw-flag">
        <div class="section-title">
          {{ step.name }}
          <div class="section-subtitle">
            {{ step.subtext }}
          </div>
        </div>
        {{ step.instruction }}
      </div>
    </div>
  {% endfor %}
</div>
<a href="{{ site.data.colorwar.rules_url }}">
  <button class="orange-button cw-button">
    Rules
  </button>
</a>
<div class="section-title"><br>
  Prizes
</div>
<img src="/assets/img/colorwar/prizes.svg" id="cw-prizes">
<div class="padded-content"><div class="padded-content">
  {{site.data.colorwar.prizes}}
</div></div>
<div class="container cw-judges">
  {% for judge in site.data.colorwar.judges %}
    <div class="col-md-3 speaker-info">
      <div class="cw-judge" id="{{judge.css_id}}">
        <img src="{{site.colorwar_judge_photo_dir}}{{judge.image}}" style="visibility:hidden;">
      </div>
      <div class="speaker-name">
        {{judge.name}}
      </div>
      <div class="speaker-info">
        {{judge.title}} @ {{judge.company}}
      </div>
    </div>
  {% endfor %}
</div>
