footer {
  font-family: 'aleo';
  width: 100%;
  font-size: 18px;
  clear: both;
  text-align: center;
  padding-bottom: 0.25em;
  p {
    color: #7F6C5F;
    font-size: 80%;
  }

  .social-item {
    margin: 0 1.25em;
  }
  padding-bottom: 30px;
}

.social-links {
  margin-top: 2em;
}

.social-item {
  display: inline-block;
  margin: 0 1.25em;
  img {
    @include size(2em 2em);
  }
}

.social-item-link {
  float: left;
  img {
    width: 2em;
  }
}

.copy {
  margin-bottom: 2em;
}
