html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #E5D8CE;
  font-family: 'avenir';
  text-align: center;
}

.sky {
  background-color: #CBF2FF;
  color: #FF6F3F;
  height: 600px;
}

.date-text {
  margin-bottom: 15px;
  font-family: 'avenir';
  z-index: 1;
  position: relative;
}

#logo-text {
  margin-bottom: 12px;
  z-index: 1;
  position: relative;
}

#logo-img {
  z-index: 1;
}

#colorwar-logo {
  margin-top: 110px;
  height: 150px;
  z-index: 10000;
}

#cloud-left,#cloud-right {
  position: absolute;
}

#cloud-left {
  top: 100px;
}

#cloud-right {
  top: 200px;
}

#tent {
  position: absolute;
  height: 50px;
  top: 553px;
  display: none;
}

#mountain, #mountain-2 {
  position: absolute;
}

#compass {
  height: 46px;
  padding: 0;
  margin: 0;
}

#cw-flag {
  padding-top: 60px;
  height: 150px;
}

#cw-prizes {
  padding: 70px 0;
  height: auto;
  width: 70%;
  max-width: 400px;
}

.cw-judges {
  padding: 75px 0;
}

.cw-asset {
  margin-top: 1px;
}

.cw-button {
  position: relative;
  top: 50px;
}

.cw-judge {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.absolute-position-centered {
  margin: 3px auto;
  left: 0;
  right: 0;
}

#mc_embed_signup {
  z-index: 10000;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 16px;
  margin-top: 5px;

  .text-field {
    border: none;
    background-color: #FFFFFF;
    padding-right: 0;
    padding-left: 0;
    font-weight: 300;
    text-transform: none;
    font-family: 'aleo';
    margin-right: 8px;
    cursor: text;
    position: relative;
    top: 3px;
    margin-top: 1px;
    color: #000000;
  }

  .mailchimp-form-container {
    display: inline-block;
  }
}

.table-title {
  text-align: center;
  padding-top: 50px;
}

.schedule-table {
  text-align: left;
}

.schedule-table-day {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.schedule-event {
  border-top: 1px solid $brown;
}

.subtext {
  position: relative;
  z-index: 1;
  font-family: 'aleo';
}

.section-title {
  text-transform: uppercase;
  font-family: 'avenir';
  font-weight: 600;
  font-size: 120%;
  padding-top: 70px;
}

.section-subtitle {
  padding-top: 15px;
  padding-bottom: 25px;
  text-transform: none;
  font-size: 75%;
}

.orange-button {
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'avenir';
  -webkit-appearance:none;  
  -webkit-border-radius:0px;
  background: url('/assets/img/button.svg') center center no-repeat;
  height: 60px;
  width: 100%;
  margin-top: 15px;
}

.orange-button:hover {
  cursor: pointer;
  background: url('/assets/img/button-active.svg') center center no-repeat;
}

.section-content {
  margin-bottom: 10px;
  color: #444444;
  color: $brown;
  line-height: 115%;
}

.padded-content {
  padding: 20px 15%;
}

.full-width-image {
  padding: 40px 0;
  width: 100%;
}

.contact-text {
  font-weight: 700;
  color: #666;
  padding: 100px 0;
}

.speaker-info {
  padding: 10px 0;
  font-size: 90%;
}

.speaker-name {
  margin-top: 10px;
  font-weight: 700;
}

.colorwar-text {
  padding: 0 20px;
}
