html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #E5D8CE;
  font-family: 'avenir';
  text-align: center;
}

.sky {
  background-color: #CBF2FF;
  color: #FF6F3F;
  height: 600px;
}

.date-text {
  margin-bottom: 15px;
  font-family: 'avenir';
  z-index: 1;
  position: relative;
}

#logo-text {
  margin-bottom: 12px;
  z-index: 1;
  position: relative;
}

#logo-img {
  z-index: 1;
}

#cloud-left,#cloud-right {
  position: absolute;
}

#cloud-left {
  top: 100px;
}

#cloud-right {
  top: 200px;
}

#tent {
  position: absolute;
  height: 50px;
  top: 553px;
  display: none;
}

#mountain, #mountain-2 {
  position: absolute;
}

.absolute-position-centered {
  margin: 0 auto;
  left: 0;
  right: 0;
}

#mc_embed_signup {
  z-index: 10000;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 16px;
  margin-top: 5px;

  .text-field {
    border: none;
    background-color: #FFFFFF;
    padding-right: 0;
    padding-left: 0;
    font-weight: 300;
    text-transform: none;
    font-family: 'aleo';
    margin-right: 8px;
    cursor: text;
    position: relative;
    top: 3px;
    margin-top: 1px;
    color: #000000;
  }

  .mailchimp-form-container {
    display: inline-block;
  }
}

.table-title {
  text-align: center;
}

.schedule-table {
  text-align: left;
}

.subtext {
  position: relative;
  z-index: 1;
  font-family: 'aleo';
}

.section-title {
  text-transform: uppercase;
  font-family: 'avenir';
  font-weight: 600;
  font-size: 120%;
  padding-top: 40px;
}

.orange-button {
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'avenir';
  -webkit-appearance:none;  
  -webkit-border-radius:0px;
  background: url('/assets/img/button.svg') center center no-repeat;
  height: 60px;
  width: 100%;
  margin-top: 15px;
}

.orange-button:hover {
  cursor: pointer;
}

.section-content {
  margin-bottom: 10px;
  color: #444444;
  padding: 20px 15%;
  color: $brown;
  line-height: 115%;
}

#mlh-trust-badge {
  right: 75px;
}

#sponsors-table {
  display: block;
}

#sponsors-table td {
  display: inline-block;
}

#sponsors-table img {
  padding: 20px;
}

.contact-text {
  font-weight: 700;
  color: #666;
  padding: 100px 0;
}
