#navbar {
  background-color: #A58D7C;
  color: #FFF;
  overflow: visible;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
