/* Scrollbar skin */
.scrollable.brown-skin {
  padding-right: 17px;
}

.scrollable.brown-skin .scroll-bar {
  background-color: #7F6C5F;
}

.scrollable.brown-skin .scroll-bar .thumb {
  background-color: #A58D7C;
  width: 10px;
  right: 2px;
  position: relative;
}

.scrollable.brown-skin .scroll-bar.vertical {
  width: 6px;
}

.scrollable.brown-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}