.col-xlarge, .col-large, .col-med, .col-small, .col-tiny { height: 100px; margin-bottom: 1em; padding: .625em; display: inline-block; vertical-align: top;}

.col-xlarge { width: 49%; height: 200px;}
@media screen and (max-width: 719px) { .col-xlarge { width: 100%; } }

.col-large { width: 32%; height: 150px;}
@media screen and (max-width: 719px) { .col-large { width: 50%; } }

.col-med { width: 24%; }
@media screen and (max-width: 719px) { .col-med { width: 33.33333333%; } }

.col-small { width: 19%; }
@media screen and (max-width: 719px) { .col-small { width: 25%; } }

.col-tiny { width: 16%; }
@media screen and (max-width: 719px) { .col-tiny { width: 20%; } }

.row-sponsors::after { clear: both; content: ""; display: table; }

@media screen and (max-width: 719px) and (max-width: 719px) { .row-sponsors { max-width: 100%; } }

.row-sponsors > li img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.row-sponsors {
  padding: 30px 0;
}

.col-xlarge, .col-large, .col-med, .col-small, .col-tiny:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#AOL {
  width: 70%;
}

#Dingman {
  width: 65%;
}

#HDR {
  width: 70%;
  position: relative;
  top: 70%;
}

#InsomniaCookies {
  width: 60%;
  position: relative;
  top: 70%;
}

#Intel {
  width: 70%;
}

#LTS {
  width: 50%;
}

#MathWorks {
  width: 70%;
}

#SGA {
  width: 75%;
}

#TerrapinHackers {
  width: 70%;
}
