//Variables
// COLORS

$white:			#FFF;
$black:			#000;

$sky-blue: 		#CBF2FF;
$medium-blue:	#528CA5;
$dark-blue:		#1a2e33;

$light-brown:	#E5D8CE;
$brown:			#7F6C5F;

$yellow-orange:	#FFAF40;
$orange:		#FF7040;
$red: 			#FF3F46;


// SPACING

$space: 2em;

// BREAKPOINT SIZES

$mobile-size:	719px;
$tablet-size:	720px;
$desktop-size:	em(960);
$large-size:	em(1224);

// BREAKPOINTS

$mobile: 	new-breakpoint(max-width $mobile-size 	4);
$tablet: 	new-breakpoint(min-width $tablet-size 	8);
$desktop: 	new-breakpoint(min-width $desktop-size 	12);
$large: 	new-breakpoint(min-width $large-size 	12);

// TYPOGRAPHY

$base-font-size:	16px;
$tablet-font-size:	18px;
$desktop-font-size:	21px;
$large-font-size:	24px;

// FONTS
@include font-face("Aleo", "/fonts/Aleo/Aleo-Regular", 400);
@include font-face("Aleo", "/fonts/Aleo/Aleo-Bold", 700);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Regular", 400);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Bold", 700);

$slab: "Aleo", Georgia, Serif;
$sans: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif;


// BODY

body {
	font-family: $slab;
	font-weight: 400;
	font-size: $base-font-size;
	@include media($tablet) {
		font-size: $tablet-font-size;
	}
	@include media($desktop) {
		font-size: $desktop-font-size;
	}
	@include media($large) {
		font-size: $large-font-size;
	}
}

// TABLES

th {
	font-family: $sans;	
}
table {
	@include media($mobile) {
		font-size: $tablet-font-size * .5;
	}
}

// HEADINGS

h1 {
	line-height: 1.25;
	font-family: $sans;
	font-size: 4em;
	color: $dark-blue;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	font-family: $sans;
	color: $dark-blue;
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em;
	font-family: $sans;
	color: $dark-blue;
}
a{
	color: $medium-blue;
	&:visited, &:active, &:hover, &:link{
		color: $orange;
	}
}
