.button {
  @include clearfix;

  display: block;
  clear: both;
  @include size(13.125em 3.5em);
  margin: $space auto 0;
  padding-top: 1.3125em;

  background: url("/img/button.svg") center center no-repeat;

  font-size: 1em;
  font-family: $sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: $white !important;
  &:hover {
    color: rgba(255,255,255,.9) !important;
  }
}

.link {
	@extend .button;
	background: url("/img/link.svg") center center no-repeat;
	@include size(13.125em 3.25em);
	margin: $space*1/2 auto 0;
}

.social-links {

}

.social-item {

}

.social-item-link {

}

.copy {

}


.ratio {
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
  }
}

.ratio > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.square:after {
  margin-top: 100%;
}
.thanks{
  color: white;
  text-align: center;
  margin-top: 20%;
}
video{
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(../img/video/BitcampTimelapse11_10.jpg) no-repeat;
background-size: cover;
}
.vid-container{
  width: 100%;
  height: 100%;
}