// COLORS

$white:			#FFF;
$black:			#000;

$sky-blue: 		#CBF2FF;
$medium-blue:	#528CA5;
$dark-blue:		#1a2e33;

$light-brown:	#E5D8CE;
$brown:			#7F6C5F;

$yellow-orange:	#FFAF40;
$orange:		#FF7040;
$red: 			#FF3F46;


// SPACING

$space: 2em;


// BREAKPOINT SIZES

$mobile-size:	719px;
$tablet-size:	720px;
$desktop-size:	em(960);
$large-size:	em(1224);

// TYPOGRAPHY

$base-font-size:	16px;
$tablet-font-size:	18px;
$desktop-font-size:	21px;
$large-font-size:	24px;
