<style>
  @media screen and (max-width: 720px) {
    footer {
      display: block;
    }
    footer .social-item {
      margin: 0 0.5em;
    }

    .reg-closed-text {
      font-size: 120%;
    }
  }
</style>
<div class="blue-body vh_height73">
  <div class="subtext closed-text">
    <div class="reg-closed-text vw_width52" style="margin-left:24%;">
      Registration for Bitcamp 2016 has closed. 
    </div>
    <div class="vw_width52" style="margin-left:24%; margin-top: 15px;">
      Sign up for the waitlist!
    </div>
  </div>
    <div>
      {% include forms/waitlist-form.html %}
    </div>
</div>
<div class="img-container">
  <img src="{{ '/assets/img/mountains-left.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height26 vh_top48 vw_left6 mountain" id="mountain-closed-reg">
   <img src="{{ '/assets/img/mountains-right.svg' | prepend: site.baseurl }}"
   class="svg-image vh_height26 vh_top48 vw_right1 mountain" id="mountain-closed-reg-2">
</div>
