<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="bitcamp">
    <meta property="og:title" content="Bitcamp 2016">
    <meta property="og:site_name" content="Bitcamp">
    <meta property="og:url" content="http://bitca.mp/">
    <meta property="og:description" content="Bitcamp is a place for exploration. You will have 36 hours to delve into your curiosities, learn something new, and make something awesome. With world-class mentors and hundreds of fellow campers, you’re in for an amazing time. If you’re ready for an adventure, see you by the fire!">
    <meta property="og:image" content="http://bitca.mp/img/facebook-share-link.png" />
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://bitca.mp/">
    <meta name="twitter:title" content="Bitcamp 2016">
    <meta name="twitter:description" content="Bitcamp is a place for exploration. You will have 36 hours to delve into your curiosities, learn something new, and make something awesome. With world-class mentors and hundreds of fellow campers, you’re in for an amazing time. If you’re ready for an adventure, see you by the fire!">
    <meta name="twitter:image" content="http://bitca.mp/img/twitter-share-link.png">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <script src="{{ "/js/jquery-1.12.0.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/smooth_scrolling.js" | prepend: site.baseurl }}"></script>
 </head>
  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MRPP8J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MRPP8J');</script>
    <!-- End Google Tag Manager -->
  <a id="mlh-trust-badge" style="position:fixed;top:0;max-width:80px;width:10%;min-width: 50px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="/assets/mlh/banner.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>
  <nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="nav navbar-nav">
          <li><a href="{{site.url}}#Home">Home</a></li>
          {% for section in site.data.content-blocks %}
            {% unless section.hide_navbar %}
              <li><a href="{{site.url}}#{{section.name}}">{{section.name}}</a></li>
            {% endunless %}
            {% if forloop.index == 3 %}
              <li>
                  <img src="/assets/img/compass.svg" id="compass">
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <script>
    $('.nav a').on('click', function() { if ($(window).width() < 800) { $('.navbar-toggle').click() } });
    $('#compass').on('click', function() { $('#compass').attr("src", "/assets/img/compass.gif") })
    </script>
  {{ content }}
  <footer class="section"> <!-- footer -->
    <div>
      <p class="copy">&copy; {{ site.time | date: '%Y' }} Bitcamp</p>
      <div class="social-links">
        <div class="social-item">
          <a href="https://www.facebook.com/bitcmp" class="social-item-link" target="_blank">
            <img src="{{ "/assets/img/facebook.svg" | prepend: site.baseurl }}">
          </a>
        </div>
        <div class="social-item">
          <a href="https://twitter.com/bitcmp" class="social-item-link" target="_blank">
            <img src="{{ "/assets/img/twitter.svg" | prepend: site.baseurl }}">
          </a>
        </div>
        <div class="social-item">
           <a href="https://instagram.com/bitcamp" class="social-item-link" target="_blank">
            <img src="{{ "/assets/img/instagram.svg" | prepend: site.baseurl }}">
          </a>
      </div>
      <div class="social-item">
          <a href="https:bitcamp.github.io/assets/img/bitcamp.snap.png.jpeg" class="social-item-link" target="_blank">
            <img src="{{ "/assets/img/snapchat.svg" | prepend: site.baseurl }}">
          </a>
      </div>
        <div class="social-item">
          <a href="https://medium.com/bitcampfire-stories" class="social-item-link" target="_blank">
            <img src="{{ "/assets/img/medium.svg" | prepend: site.baseurl }}">
          </a>
        </div>
        <div class="social-item">
          <a href="https://github.com/bitcamp" class="social-item-link" target="_blank">
            <img src="{{ "/assets/img/github.svg" | prepend: site.baseurl }}">
          </a>
        </div>
      </div>
    </div>
  </footer> <!-- /footer -->
  </body>
</html>
