---
layout: default
---
<section class="schedule-table" id="schedule"> <!-- schedule -->

{% for day in site.data.schedule %}
  <!-- Friday -->
  <h3 class="table-title">{{ day.name }}</h3><br>
  <table class="schedule-table-day" id="table-{{day.name}}">
    <thead>
      <tr>
        <th>Time</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      {% for event in day.events %}
        {% if event.highlighted %}
          <b>
        {% endif %}
        <tr class="schedule-event">
          <td>{{ event.time }}</td>
          <td>{{ event.name }}</td>
        </tr>
        {% if event.highlighted %}
          </b>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <!-- /{{ day.name }} -->
{% endfor %}

